.group-detail {
  margin-bottom: 20px;
  border: 1px solid #929baa;
}

.group-name {
  padding: 5px 0;
  text-align: center;
  background-color: #929baa;
  color: #fff;
}

.group-member-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.group-member-list li {
  text-align: center;
  padding: 10px 30px;
  margin: 10px;
  background-color: #eee;
}
