.student-group {
  margin-bottom: 20px;
}

.group-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.group-header input[type='button'] {
  padding: 10px 20px;
  border: none;
  background-color: #e85559;
  color: #fff;
}
